{{>header}}

part of '../repositories.dart';

{{#operations}}
abstract class {{classname}}Repository {
  late Dio dio;
  late String baseUrl;
  late ApiAuthRepository authRepository;

  {{#operation}}
  {{#returnType}}Future<Result<{{{returnType}}}>>{{/returnType}}{{^returnType}}Future<Result<void>>{{/returnType}} {{nickname}}({{#allParams}}{{#isPathParam}}
    {{{dataType}}} {{paramName}},{{/isPathParam}}{{#isQueryParam}}
    {{{dataType}}}{{^required}}?{{/required}} {{paramName}},{{/isQueryParam}}{{#isHeaderParam}}
    {{{dataType}}}{{^required}}?{{/required}} {{paramName}},{{/isHeaderParam}}{{#isBodyParam}}
    {{{dataType}}}{{^required}}?{{/required}} {{paramName}},{{/isBodyParam}}{{/allParams}}
  );

  {{/operation}}
}
{{/operations}}